body {
  font-family: sans-serif;
}

div {
//  border: 1px solid black;
}

.form-fields {
  display: table;
//  margin-bottom: 10px;
}

.form-field {
  display: table-row;
}

.form-field-label,
.form-field-control,
.form-field-comment {
  display: table-cell;
  text-align: right;
  padding: 3px 10px;
}

.form-field-control input, .form-field-control textarea {
  width: 150px;
}

.red {
  color: red;
  width: 0;
}

.submit {
  margin-top: 10px;
  font-size: 24pt;
  border-width: 2px;
}

#upload_form {
  text-align:center;
  width: 300px;
  margin: auto;
}

#uploaded_file {
  margin-bottom: 10px;
}

.stars_div span {
  cursor: pointer;
  font-size: 16pt;
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

label.cameraButton {
  display: inline-block;
  margin: 1em 0;

  /* Styles to make it look like a button */
  padding: 0.5em;
  border: 2px solid #666;
  border-color: #EEE #CCC #CCC #EEE;
  background-color: #DDD;
}

/* Look like a clicked/depressed button */
label.cameraButton:active {
  border-color: #CCC #EEE #EEE #CCC;
}

/* This is the part that actually hides the 'Choose file' text box for camera inputs */
label.cameraButton input[accept*="image"] {
  display: none;
}
